.joinbody {
  background-color: white;
  height : 100%;
}

.joinUp {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jointopbar {
  background-color: #EADEEF;
  color: white;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
}

.joinLogoImg {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.joinborderbar {
  width: 100%;
  height: 70px;
  background-color: #C998DC; 
  position: relative;
}

.joinProfImg {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -100%);
}


.joinCameraBtn {
  width: 40px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  margin-top: 3px;
  text-align: center;
  border-radius: 35%;
  border-color: white;
  position: absolute;
  top:50%;
  left:53%;
  transform: translate(0, -100%);
}

.joinDown {
  background-color: white;
}
.joinForm {
  background-color: white;
  margin : 35px;
  text-align: start;
}

.joinFormOne {
  border-bottom: solid 1px;
}

.joinLabel {
 color: #C998DC;
 margin-top : 5px;
}

.joinInput {
  color: black;
  border: none;
  width: 100%;
 margin-top : 5px;

}
/* bottom 공유 */
.joinBtnDiv {
  text-align: center;
  margin-top : 15px;
  width: 100%;
  position: absolute; 
  bottom :0;
  margin-bottom: 10px;
}

.joinBtn {
  background-color: #C998DC;
  color: white;
  border-color: white;
  border-radius: 5px;
  width: 90%;

}