.root {
  overflow-y: auto;
  overflow-x: hidden;
}

.rootOnline {
  height: calc(100vh - 56px);
}

.rootOffline {
  height: 100vh;
}

.app {
  height: 100% !important;
  display: grid;
  grid-template-columns: 100%;
}
