.container {
  position: fixed;
  background-color: white;
  width: 50%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 0.1px solid black;
  z-index: 9999;
  }
  
.profile-content {
  position: absolute;
  bottom: 0;
  background-color: #C998DC;
  background-size: cover;
  width: 100%;
  height: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.profile-image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1;
}

.profile-text {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-message {
  position: relative;
  background-color: white;
  width: 80%;
  height: 20%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid #633277;
}

.profile-edit {
  position: fixed;
  width: 80%;
  height: 30%;
  left: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: red;
}

.button {
  position: absolute;
  bottom: 13px;
  right: 10px;
  color: #C998DC;
  font-size: 5px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #633277;
  cursor: pointer;
  padding: 2px 10px;
}